html {
    background-color:lightsteelblue;
}

header{
    border: 10;
    border-style:ridge;
    border-color: brown;
}
header h1 {
    
    text-align: center;
    padding-right: 200px;
    background-color: brown;
    font-weight: 200;
    color:blanchedalmond;

}
header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200;
    text-align: center;
    font-weight: 900;
    padding-right: 200px;

}
body{
    border: 3px;
    border-style: solid;
    border-color: brown;
}
form{
    display: flex;
    padding-right: 200px;
    justify-content: center;
}
.question {
    background-color:brown;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}
.options  {
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 15px;
    list-style:lower-latin;
}


.buttons{/*Sets the button sections position*/
    text-align: center;
    padding-right: 200px;
    font-size: 15px;

}
.buttons p {
    display: flex;
    position: absolute;
    left: 300px;
    justify-content: center;
    width:10%;
    color:brown;
    background-color: blanchedalmond;
    border: 2px;

}

.selectors:hover{
    background-color: brown;
    color:blanchedalmond

}
#start{ /*Design for the start button*/
    background-color: blanchedalmond;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-weight: 600;
    font-size: 19px;
    padding: 20px;
    color:brown;
}
#start:hover{/*Adds on hover effects*/
    background-color: brown;
    color:blanchedalmond;
    box-shadow: 5px 8px 2px;
}
#time{ /*Sets the timers style*/
    text-align: right;
    width:25%;
    font-size: 25px;
    background-color: thistle;
    border: 5px;
}
#outOfTimeMsg{
    text-align: center;
    color:lavender;
    padding-right:  180px;
    font-size: 25px;
    background-color:firebrick;
    border: 5px;
}
.scoreSection{
    display: block;
    font-size: 30px;
    justify-content:center ;
}
#scoreCard{
    display: inline;
    justify-content: center;
    color:brown;
    background-color: burlywood;
}
#score {
    display:inline;
    color:crimson;
    border: 2px;
    background-color:peachpuff;
}
.highscores li {
    padding: 5px;
    margin: 2px;
    border: 1px;
    border-style: solid;
    list-style-type: none;
}
footer{
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding-right:160px;
    background-color: brown;
    border: 5px;
    color:blanchedalmond;
    text-align: center;
}